@model IList<ColombusWebapplicatie.Models.Travel.Travel>

@{
    ViewBag.Title = "Reizen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="white-block" style="padding-top:0px">
        <table cellspacing="0" cellpadding="0" id="travels" class="table-fix dark-header">
            <tr>
                <th>Titel</th>
                <th>Begindatum</th>
                <th>Einddatum</th>
                <th></th>
            </tr>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var travel in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(travel.Title, "ViewTravel", new { travelID = travel.ID })</td>
                        <td>@travel.StartDate.Day-@travel.StartDate.Month-@travel.StartDate.Year</td>
                        <td>@travel.EndDate.Day-@travel.EndDate.Month-@travel.EndDate.Year</td>
                        <td style="width:1em;">@Html.ActionLink(HttpUtility.HtmlDecode("&nbsp;"), "DeleteTravel", new { travelID = travel.ID }, new { @class = "fa fa-trash-o", @style = "width:1em;" })</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">Er zijn geen reizen beschikbaar.</td>
                    <td></td>
                </tr>
            }
        </table>
        @Html.ActionLink("Nieuwe reis", "Create", "Travel", new {},new {@class="button orange float right", @style="margin-top:2em"})
    </div>
</div>