@model IList<ColombusWebapplicatie.Models.Travel.LocationDetails>

@{
    ViewBag.Title = "Locaties Toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if(!Convert.ToBoolean(Session["LoggedIn"])) {
        Response.Redirect("~/");
    }
}

    <style>
    #map-canvas {
        margin: 1em 0px;
    }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    @if (Model != null && Model.Count > 0)
    {
        <script>
    function foundResults() {
        var markers = [];
        var infoWindows = [];
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var markerId = 0;
        var latLngBounds = new google.maps.LatLngBounds();
        @foreach (var locationDetails in Model)
            {
            <text>
                infoWindows[markerId] = new google.maps.InfoWindow({
                    content: '<h4>@locationDetails.Name</h4>'
                    +'@(locationDetails.Address.IsEmpty() == false ? Html.Raw("<div>" + locationDetails.Address + "</div>") : Html.Raw(""))'
                    +'@(locationDetails.PhoneNumber.IsEmpty() == false ? Html.Raw("<div>" + locationDetails.PhoneNumber + "</div>") : Html.Raw(""))'
                    +'@Html.Raw(Html.ActionLink("Locatie toevoegen", "ViewLocation", new { travelID = ViewBag.TravelID, placeID = locationDetails.PlaceID }))'
                });
                markers[markerId] = new google.maps.Marker({
                    id: markerId,
                    position: new google.maps.LatLng(@locationDetails.Coordinates.Latitude, @locationDetails.Coordinates.Longitude),
                title: "@Html.Raw(locationDetails.Name)"
                });
                markers[markerId].setMap(map);
                latLngBounds.extend(markers[markerId].position);
                google.maps.event.addListener(markers[markerId], 'click', function() {
                    infoWindows[this.id].open(map,markers[this.id]);
                });
                markerId++;
            </text>
            }
        map.setCenter(latLngBounds.getCenter());
        map.fitBounds(latLngBounds);
    }
    google.maps.event.addDomListener(window, 'load', foundResults);
        </script>
    }
    else
    {
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
            $(window).load(function () {
                $("#slider-value").html("Zoeken binnen een straal van: " + ($("#radius").val()/1000) + " kilometer.");
                $("#slider").slider({
                    value: 10000,
                    min: 0,
                    max: 50000,
                    step: 1000,
                    slide: function (event, ui) {
                        $("#radius").val(ui.value);
                        $("#slider-value").html("Zoeken binnen een straal van: " + ($("#radius").val()/1000) + " kilometer.");
                    }
                });
            });
        </script>
        <script>
            function initializeSearch() {
                var marker = null;
                var myLatlng = new google.maps.LatLng(0, 0);
                var mapOptions = {
                    zoom: 1,
                    center: myLatlng
                }
                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                google.maps.event.addListener(map, "click", function (event) {
                    if (marker != null) {
                        marker.setMap(null);
                    }
                    marker = new google.maps.Marker({
                        position: event.latLng,
                        draggable: true,
                        map: map
                    });
                    document.getElementById("lat").value = marker.getPosition().lat();
                    document.getElementById("lng").value = marker.getPosition().lng();
                });
            }
            google.maps.event.addDomListener(window, 'load', initializeSearch);
        </script>
    }

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p class="float left" style="text-align:center; width:100%; margin-bottom:1em;">Zoek uw locatie via het zoekveld of klik deze aan op de kaart. Klik vervolgens op de knop "zoeken". Klik op het "+"-icoon om de locatie aan de reis toe te voegen.</p>
        <div id="slider"></div>
        <div id="slider-value"></div>
        <div id="map-canvas"></div>
        @using (Html.BeginForm("ShowFoundLocation", "Travel", FormMethod.Post, new { travelID = ViewBag.TravelID }))
        {
            @Html.Hidden("radius", 10000);
            @Html.Hidden("lat")
            @Html.Hidden("lng")
            @Html.Hidden("travelID", null, new { travelID = ViewBag.TravelID })
            <table cellpadding="0" cellspacing="0" class="white-block table-fix" style="margin-top:1em; padding-top:0px;">
                <tr>
                    <td>
                        @Html.TextBox("query", null, new { @style = "width:100%" })
                    </td>
                    <td>
            <input class="button orange" type="submit" name="search" value="Zoeken">
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            <table cellspacing="0" cellpadding="0" id="travels">
                @foreach (var result in Model)
                {
                    <tr>
                        <td>
                            @result.Name <br />
                            @result.Address
                        </td>
                        <td>@Html.ActionLink("+", "ViewLocation", new { travelID = ViewBag.TravelID, placeID = result.PlaceID, newLocation = true })</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>