@model ColombusWebapplicatie.Models.Travel.Travel

@{
    ViewBag.Title = "Reisoverzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    if (@Model.Locations.Count>0){
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
        var markers = [];
        var infoWindows = [];
        function initialize() {
            var mapCanvas = document.getElementById('map-canvas');
            var mapOptions = {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)
            var markerId = 0;
            var latLngBounds = new google.maps.LatLngBounds();
            @foreach(var location in Model.Locations)
                {
                    <text>
                    infoWindows[markerId] = new google.maps.InfoWindow({
                        content: "<h4>@location.LocationDetails.Name</h4>"
                        +"@(location.LocationDetails.Address.IsEmpty()==false?Html.Raw("<div>"+location.LocationDetails.Address+"</div>"):Html.Raw(""))"
                        +"@(location.LocationDetails.PhoneNumber.IsEmpty()==false?Html.Raw("<div>"+location.LocationDetails.PhoneNumber+"</div>"):Html.Raw(""))"
                    });
                    markers[markerId] = new google.maps.Marker({
                        id: markerId,
                        position: new google.maps.LatLng(@location.LocationDetails.Coordinates.Latitude, @location.LocationDetails.Coordinates.Longitude),
                        title: "@Html.Raw(location.LocationDetails.Name)"
                    });
                    markers[markerId].setMap(map);
                    latLngBounds.extend(markers[markerId].position);
                    google.maps.event.addListener(markers[markerId], 'click', function() {
                        infoWindows[this.id].open(map,markers[this.id]);
                    });
                    markerId++;
                    </text>
                }
            map.setCenter(latLngBounds.getCenter());
            map.fitBounds(latLngBounds);
            zoomChangeBoundsListener = google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
                if (this.getZoom()){
                    this.setZoom(6);
                }
            });
            setTimeout(function(){google.maps.event.removeListener(zoomChangeBoundsListener)}, 2000);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    }
}
<div class="container white-block">
    <div class="container">
        <h2>Reistitel</h2>
        <div>
            <span>Begindatum: @Model.StartDate.Day-@Model.StartDate.Month-@Model.StartDate.Year</span>
            <span>Einddatum: @Model.EndDate.Day-@Model.EndDate.Month-@Model.EndDate.Year</span>
        </div>
        <h3>Locaties</h3>
    </div>
    @if(Model.Locations.Count>0) {
        <div id="map-canvas"></div> <!-- Google Maps -->
    }
        <div class="container">
        @Html.ActionLink("Locatie Toevoegen", "SearchLocation", new { travelID = Model.ID }, new { @class = "button orange float left"})
        @if(Model.Locations.Count > 0) {
            <ul class="white-block float left">
                @foreach(var location in Model.Locations) {
                    <li>
                        <h4>@location.LocationDetails.Name</h4>
                        <div class="travel-details">
                            @if(!location.Note.IsEmpty()) {
                                <div class="travel-note">@location.Note</div>
                            }
                            else
                            {
                                //Temporary note
                                @Html.ActionLink("Notie toevoegen", "CreateNote", new { travelID = Model.ID, locationID = location.ID, note = "Bedrijfsuitje" }, new { @class = "button orange float left" })
                            }
                            @if(!location.LocationDetails.Address.IsEmpty()) {
                                <div class="travel-detail">@location.LocationDetails.Address</div>
                            }
                            @if(!location.LocationDetails.PhoneNumber.IsEmpty()) {
                                <div class="travel-detail">Tel.: @location.LocationDetails.PhoneNumber</div>
                            }
                            
                        </div>
                        @Html.ActionLink("Bekijk locatie", "ViewLocation", "Travel", new { travelID=Model.ID, placeID=location.LocationDetails.PlaceID }, null)
                    </li>
                }
            </ul>
        }
        </div>
    <div class="container">
        @using (Html.BeginForm("CreateTravelogue", "Travelogue", Model))
        {
            <input type="submit" value="Nieuw verslag aanmaken" class="button orange float right" />
        }
    </div>
</div>