@model ColombusWebapplicatie.Models.Travel.Travel

@{
    ViewBag.Title = "Reis bekijken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        #map-canvas {
            width: 100%;
            height: 400px;
        }
    </style>
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
    var markers = [];
    var infoWindows = [];
    function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var markerId = 0;
        var latLngBounds = new google.maps.LatLngBounds();
        @foreach(var location in Model.Locations)
            {
                <text>
        infoWindows[markerId] = new google.maps.InfoWindow({
            content: "<h4>@location.LocationDetails.Name</h4>"
                    +"@(location.LocationDetails.Address.IsEmpty()==false?Html.Raw("<div>"+location.LocationDetails.Address+"</div>"):Html.Raw(""))"
                    +"@(location.LocationDetails.PhoneNumber.IsEmpty()==false?Html.Raw("<div>"+location.LocationDetails.PhoneNumber+"</div>"):Html.Raw(""))"
                });

                markers[markerId] = new google.maps.Marker({
                    id: markerId,
                    position: new google.maps.LatLng(@location.LocationDetails.Coordinates.Latitude, @location.LocationDetails.Coordinates.Longitude),
        title: "@Html.Raw(location.LocationDetails.Name)"
    });
    markers[markerId].setMap(map);
    latLngBounds.extend(markers[markerId].position);
    google.maps.event.addListener(markers[markerId], 'click', function() {
        infoWindows[this.id].open(map,markers[this.id]);
    });
    markerId++;
    </text>
            }
    map.setCenter(latLngBounds.getCenter());
    map.fitBounds(latLngBounds);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
<div class="container white-block">
    <div class="container">
        <h2>Reistitel</h2>
        <div>
            <span>Begindatum: @Model.StartDate.Day-@Model.StartDate.Month-@Model.StartDate.Year</span>
            <span>Einddatum: @Model.EndDate.Day-@Model.EndDate.Month-@Model.EndDate.Year</span>
        </div>
        <h3>Locaties</h3>
    </div>
    <div id="map-canvas"></div>
    @if (Model.Locations.Count > 0)
    {
        <div class="container">
            <ul id="locations">
                @foreach (var location in Model.Locations)
                {
                    <li>
                        <h4>@location.LocationDetails.Name</h4>
                        <div class="travel-details">
                            <div class="travel-detail">@location.Date.Day-@location.Date.Month-@location.Date.Year om @location.Date.Hour:@location.Date.Minute</div>
                            @if (location.Note.IsEmpty() == false)
                            {
                                <div class="travel-note">@location.Note</div>
                            }
                            @if (location.LocationDetails.Address.IsEmpty() == false)
                            {
                                <div class="travel-detail">@location.LocationDetails.Address</div>
                            }
                            @if (location.LocationDetails.PhoneNumber.IsEmpty() == false)
                            {
                                <div class="travel-detail">Tel.: @location.LocationDetails.PhoneNumber</div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    <div class="container">
        @using (Html.BeginForm("CreateTravelogue", "Travelogue", Model))
        {
            <input type="submit" value="Nieuw verslag aanmaken" class="button orange float right" />
        }
    </div>
</div>