@model ColombusWebapplicatie.Models.Google.Details.GooglePlace

@{
    ViewBag.Title = "Reizen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    });

    $(".datepicker").click(function () {
        $('.datepicker').datepicker("setDate", new Date());
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
    function initialize()
    {

        var myLatlng = new google.maps.LatLng(@Model.Geometry.Location.Latitude, @Model.Geometry.Location.Longitude);
        var mapOptions = {
            zoom: 11,
            center: myLatlng,
        }

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '@Model.Name'
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

@using(Html.BeginForm("AddLocation", "Travel", new { travelID = ViewBag.TravelID, date = DateTime.Now.ToLongDateString() })) {
    <div class="container">
        <div class="white-block">
            <h2>@Model.Name</h2>
            <div id="map-canvas"></div> <!-- Google Maps -->
            <table cellspacing="0" cellpadding="0" class="table-fix">
                <tr>
                    <th>Naam</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>
                        Datum
                    </th>
                    <td style="padding:0px;">
                        @Html.TextBoxFor(model => model.Date, new { Value = DateTime.Now.ToShortDateString(), @class = "form-control datepicker", @style = "padding:1em; width:95%; text-align: center;" })
                    </td>
                </tr>
                @if(!String.IsNullOrWhiteSpace(Model.FormattedAddress)) {
                    <tr>
                        <th>Adres</th>
                        <td>@Model.FormattedAddress</td>
                    </tr>
                }
                @if(!String.IsNullOrWhiteSpace(Model.FormattedPhoneNumber)) {
                    <tr>
                        <th>Telefoonnummer</th>
                        <td>@Model.FormattedPhoneNumber</td>
                    </tr>
                }
                @if(Model.Rating != 0) {
                    <tr>
                        <th>Beoordeling</th>
                        <td>@Model.Rating</td>
                    </tr>
                }
                @if(Model.Rating != 0) {
                    <tr>
                        <th>Type(s)</th>
                        <td>@Model.DisplayTypes</td>
                    </tr>
                }
                @if(!String.IsNullOrWhiteSpace(Model.Website)) {
                    <tr>
                        <th>Website</th>
                        <td style="padding: 0;"><a class="button" href="@Model.Website">@Model.Website</a></td>
                    </tr>
                }
            </table>
            @{
    TempData["Place"] = Model;
            }
            @if(Convert.ToBoolean(ViewBag.newLocation)) {
                <div class="white-block" style="margin-bottom:0px;">
                    <input class="button orange float right" type="submit" name="search" value="Voeg toe">
                </div>
            }
        </div>
    </div>
}