@model ColombusWebapplicatie.Models.User

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        @using(Html.BeginForm("EditUser", "Account", FormMethod.Post)) {
            @Html.HiddenFor(user => user.ID);
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th>Gebruikersnaam:</th>
                    <td>@Html.TextBoxFor(user => user.Username, new { @placeholder = "Gebruikersnaam", @class = "form input" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.Username)</td>
                </tr>
                <tr>
                    <th>Wachtwoord:</th>
                    <td>@Html.PasswordFor(user => user.Password, new { @placeholder = "Wachtwoord", @class = "form input" })</td>
                </tr>
                <tr>
                    <th>Wachtwoord (ter bevestiging):</th>
                    <td>@Html.PasswordFor(user => user.PasswordRepeat, new { @placeholder = "Wachtwoord", @class = "form input" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.PasswordRepeat)</td>
                </tr>
                <tr>
                    <th>Voornaam:</th>
                    <td>@Html.TextBoxFor(user => user.FirstName, new { @placeholder = "Voornaam", @class = "form input" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.FirstName)</td>
                </tr>
                <tr>
                    <th>Achternaam:</th>
                    <td>@Html.TextBoxFor(user => user.LastName, new { @placeholder = "Achternaam", @class = "form input" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.LastName)</td>
                </tr>
                <tr>
                    <th>E-mailadres:</th>
                    <td>@Html.TextBoxFor(user => user.Email, new { @placeholder = "E-mailadres", @class = "form input" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.Email)</td>
                </tr>
            </table>
            <input type="submit" name="submit" value="Opslaan" class="button orange float right">
        }
    </div>
</div>