@model ColombusWebapplicatie.Models.User

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("EditUser", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(user => user.ID);
        <table cellspacing="0" cellpadding="0" class="table-fix">
                <tr>
                <th style="padding:0px;">Gebruikersnaam:</th>
                <td>@Html.TextBoxFor(user => user.Username, new { @placeholder = "Gebruikersnaam" })</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(x => x.Username)</td>
                </tr>
                <tr>
                <th style="padding:0px;">Voornaam:</th>
                <td>@Html.TextBoxFor(user => user.FirstName, new { @placeholder = "Voornaam" })</td>
                </tr>
                <tr>
                <th style="padding:0px;">Achternaam:</th>
                <td>@Html.TextBoxFor(user => user.LastName, new { @placeholder = "Achternaam" })</td>
                </tr>
                <tr>
                <th style="padding:0px;">E-mailadres:</th>
                <td>@Html.TextBoxFor(user => user.Email, new { @placeholder = "E-mailadres" })</td>
                </tr>
                <tr>
                <th style="padding:0px;">Wachtwoord:</th>
                <td>@Html.PasswordFor(user => user.Password, new { @placeholder = "Wachtwoord" })</td>
                </tr>
                <tr>
                <th style="padding:0px;">Wachtwoord (ter bevestiging):</th>
                <td>@Html.PasswordFor(user => user.PasswordRepeat, new { @placeholder = "Wachtwoord" })</td>
                </tr>
            </table>

  
            <div class="white-block">
                <p>@Html.ValidationMessageFor(x => x.Password)</p>
                <p>@Html.ValidationMessageFor(x => x.PasswordRepeat)</p>
                <p>@Html.ValidationMessageFor(x => x.FirstName)</p>
                <p>@Html.ValidationMessageFor(x => x.LastName)</p>
                <p>@Html.ValidationMessageFor(x => x.Email)</p>
            <input type="submit" name="submit" value="Opslaan" class="button orange float right">
        </div>
        }
    </div>
