<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Columbus: Explore the world</title>
    <link href="~/favicon.ico"
          rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Style/style.less" rel="stylesheet/less" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Schoolbell&v1' rel='stylesheet' type='text/css'>
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <script src="~/Content/Scripts/Less/Less.js" type="text/javascript"></script>
    <header>
        <div class="container">
            <a href="@Url.Action("Index", "Home")">
                <div id="logo"></div>
                <div id="slogan">Explore the world!</div>
            </a>
            <div id="menu">
                <ul>
                    <li class="menu-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu-item">@Html.ActionLink("Mijn reizen", "Index", "Travel")</li>
                    <li class="menu-item">@Html.ActionLink("Reisverslagen", "Index", "Travelogue")</li>
                    <li class="menu-item">@Html.ActionLink("Account", "Index", "Account")</li>
                </ul>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="half">
                <h2>Lorem Ipsum</h2>
                <ul>
                    <li>@Html.ActionLink("Home", "/")</li>
                    <li>@Html.ActionLink("Mijn reizen", "/")</li>
                    <li>@Html.ActionLink("Account", "/")</li>
                </ul>
            </div>
            <div class="half">
                <h2>Lorem Ipsum</h2>
                <ul>
                    <li>@Html.ActionLink("verslagen", "/")</li>
                    <li>@Html.ActionLink("Over ons", "/")</li>
                    <li>@Html.ActionLink("Android app", "/")</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html> 