<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Columbus: Explore the world</title>
    <link href="~/favicon.ico"
          rel="shortcut icon" type="image/x-icon" />
    <script src="~/Content/Scripts/JQuery/jquery-1.11.3.min.js"></script>
    <link href="~/Content/Style/style.less" rel="stylesheet/less" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Schoolbell&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <script src="~/Content/Scripts/Less/Less.js" type="text/javascript"></script>
    <header id="header">
        @if (TempData["error"] != null)
        {
            <div class="error">
                <div class="container">
                    @foreach (string error in TempData["error"] as string[])
                    {
                        @error;
                        <br />
                    }
                </div>
            </div>
        }
        else if (TempData["message"] != null)
        {
            <div class="message">
                <div class="container">
                    @foreach (string message in TempData["message"] as string[])
                    {
                        @message;
                        <br />
                    }
                </div>
            </div>
        }
        <div class="container">
            <a href="@Url.Action("Index", "Home")">
                <div id="logo"></div>
                <div id="slogan">Explore the world!</div>
            </a>
            <div id="menu">
                <ul>
                    <li class="menu-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu-item">@Html.ActionLink("Reisverslagen", "Index", "Travelogue")</li>
                    @if (!Convert.ToBoolean(Session["LoggedIn"]))
                    {
                        <li class="menu-item">@Html.ActionLink("Registreren", "Register", "Account")</li>
                    }
                    else
                    {
                        <li class="menu-item">@Html.ActionLink("Mijn reizen", "Index", "Travel")</li>
                        <li class="menu-item">@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="half">
                <h2>Informatie</h2>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Over ons", "About", "Home")</li>
                </ul>
            </div>
            <div class="half">
                <h2>Aan de slag</h2>
                <ul>
                    <li>@Html.ActionLink("Reisverslagen", "Index", "Travelogue")</li>
                    <li>@Html.ActionLink("Android app", "Android", "Home")</li>
                    @if (Convert.ToBoolean(Session["LoggedIn"]))
                    {
                        <li>@Html.ActionLink("Mijn reizen", "Index", "Travel")</li>
                        <li>@Html.ActionLink("Account", "EditUser", "Account", null, null)</li>
                    }
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/Content/Scripts/header.js"></script>
</body>
</html> 