@model ColombusWebapplicatie.Models.Travel.Travelogue.Travelogue
@{
    ViewBag.Title = "Nieuw reisverslag aanmaken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SubmitButton", "Travelogue", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Published)
    @Html.HiddenFor(x => x.PublishedTime)
    @Html.HiddenFor(x => x.Travel)
    
    <h2>@ViewBag.Title</h2>
    foreach (var location in Model.Travel.Locations)
    {
        <div class="orange-block">
            <div class="container">
                location.Note
            </div>
        </div>
    }

    <div class="container">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <th>Titel</th>
                <td>@Html.TextBoxFor(x => x.Title, new { @style = "width: 96%; padding: 1em;" })</td>
            </tr>
        </table>
        <div class="orange-block" style="margin-top:4em;">
            <h2>Paragrafen</h2>
        </div>
        @for (var i = 0; i < Model.Paragraphs.Count; i++)
        {
            <div class="new-paragraph">
                <h3 class="orange-block">Paragraaf #@i</h3>
                <table cellpadding="0" cellspacing="0">
                    @Html.HiddenFor(x => x.Paragraphs[i].Height)
                    @Html.HiddenFor(x => x.Paragraphs[i].FullWidth)
                    @Html.HiddenFor(x => x.Paragraphs[i].Width)
                    <tr>
                        <th>
                            Titel
                        </th>
                        <td>
                            @Html.TextBoxFor(x => x.Paragraphs[i].Header, new { @style = "width: 96%; padding: 1em;" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tekst
                        </th>
                        <td>
                            @Html.TextAreaFor(x => x.Paragraphs[i].Text, new { @style = "width: 96%; padding: 1em;" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Foto
                        </th>
                        <td>
                            @Html.TextBoxFor(x => x.Paragraphs[i].PhotoID, new { @style = "width: 96%; padding: 1em;" })
                        </td>
                    </tr>
                </table>
            </div>
        }
        <div class="float right">
            <input type="submit" name="AddParagraph" value="+" class="button orange float right" style="float:right; font-size:2em;padding-top:0em;padding-bottom:0em;padding-right:0.5em; padding-left:0.5em;" />
        </div>
        <div class="white-block">
            <input type="submit" name="Save" value="Opslaan" class="button orange float right" style="margin-left:1em;" />
            <input type="submit" name="Publish" value="Publiseer" class="button orange float right" />
        </div>
    </div>
}