@model IList<ColombusWebapplicatie.Models.Travel.Travelogue.Travelogue>

@{
    ViewBag.Title = "Reisverslagen";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem {
        Text = "Beste",
        Value = "Best"
    });
    listItems.Add(new SelectListItem {
        Text = "Nieuwste",
        Value = "Latest",
        Selected = true
    });
    listItems.Add(new SelectListItem {
        Text = "Oudste",
        Value = "Oldest"
    });
}

<div class="orange-block container">
    <h2>@ViewBag.Title</h2>
</div>
<div class="orange-block">
    @if(!Convert.ToBoolean(ViewBag.Public)) {
        <div class="container">
            @Html.ActionLink("Mijn Travelogues", "Index", null, new { @class = "tab active float left", @name = "myTravelogues" })
            @Html.ActionLink("Alle Travelogues", "Display", new { sortBy = "Best" }, new { @class = "tab float right", @name = "allTravelogues" })
        </div>
    }
</div>
@if(Convert.ToBoolean(ViewBag.DisplayAll)) {
    <div class="white-block" style="margin-bottom:0px;">
        <div class="container">
            @using(Html.BeginForm("Search", "Travelogue", FormMethod.Post)) {
                @Html.TextBox("searchQuery", null, new { @class = "input-fix float left" })
                <input class="button orange float left" type="submit" style=" margin-left:1em" name="add" value="Zoeken">
            }
            @using(Html.BeginForm("Display", "Travelogue", FormMethod.Post)) {
                <input class="button orange float right" style="margin-left:1em" type="submit" name="add" value="Zoeken">
                @Html.DropDownList("sortBy", listItems, new { @class = "input-fix float right" })
            }
        </div>
    </div>
}
<div class="container">
    <table cellspacing="0" cellpadding="0" id="travels" class="white-block">
        <tr>
            <th style="padding:1em;">Titel</th>
            <th style="padding:1em;">Auteur</th>
            <th style="padding:1em;">Gepubliceerd</th>
            <th style="padding:1em;">Beoordeling</th>
            @if(!Convert.ToBoolean(ViewBag.DisplayAll)) {
                <th>Bewerking</th>
                <th>Verwijderen</th>
            }
        </tr>
        @if(Model != null && Model.Count > 0) {
            foreach(var travelogue in Model) {
                <tr>
                    @if(travelogue.Title == null) {
                        travelogue.Title = "Geen Titel";
                    }
                    <td>@Html.ActionLink(@travelogue.Title, "ViewTravelogue", new { travelogueID = travelogue.ID })</td>
                    <td>@travelogue.Author</td>
                    @if(travelogue.Published) {
                        <td>@travelogue.PublishedTime.Day-@travelogue.PublishedTime.Month-@travelogue.PublishedTime.Year</td>
                    }
                    else {
                        <td>Privé</td>
                    }
                    <td>@travelogue.AvarageRating</td>
                    @if(!Convert.ToBoolean(ViewBag.DisplayAll)) {
                        <td>@Html.ActionLink("-", "EditTravelogue", new { travelogueID = travelogue.ID })</td>
                        <td>@Html.ActionLink("X", "DeleteTravelogue", new { travelogueID = travelogue.ID })</td>
                    }
                </tr>
            }
        }
        else {
            <tr>
                <td colspan="3">Er zijn geen reisverslagen beschikbaar.</td>
            </tr>
        }
    </table>
</div>

<script>
    function myTravelogues() {
        $('.tab[name="allTravelogues"]').removeClass("active")
        $('.tab[name="myTravelogues"]').addClass("active")
    }

    function allTravelogues() {
        $('.tab[name="myTravelogues"]').removeClass("active")
        $('.tab[name="allTravelogues"]').addClass("active")
    }

    $('.tab[name="myTravelogues"]').click(myTravelogues());
    $('.tab[name="allTravelogues"]').click(allTravelogues());
</script>

@if(Convert.ToBoolean(ViewBag.DisplayAll)) {
    <script>
        $(document).ready(function () {
            allTravelogues();
        })
    </script>
}
else {
    <script>
        $(document).ready(function () {
            myTravelogues();
        })
    </script>
}