@model IList<ColombusWebapplicatie.Models.Travel.Travelogue.Travelogue>

@{
    ViewBag.Title = "Reisverslagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container white-block">
    <h2>@ViewBag.Title</h2>
    <div class="container">
        <table cellspacing="0" cellpadding="0" id="travels">
            <tr>
                <th>Titel</th>
                <th>Gepubliceerd</th>
                <th>Beoordeling</th>
            </tr>
            @if (Model.Count > 0)
            {
                foreach (var travelogue in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@travelogue.Title , "ViewTravelogue", new { id = travelogue.ID })</td>
                        <td>@travelogue.PublishedTime.Day-@travelogue.PublishedTime.Month-@travelogue.PublishedTime.Year</td>
                        <td>@travelogue.Ratings</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">Er zijn geen reisverslagen beschikbaar.</td>
                </tr>
            }
        </table>
    </div>

    <div class="container">
        @Html.ActionLink("Nieuw verslag", "CreateTravelogue", new { }, new { @class = "button orange float right" })
    </div>
</div>