@model IList<ColombusWebapplicatie.Models.Travel.Travelogue.Travelogue>

@{
    ViewBag.Title = "Reisverslagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="orange-block container">
    <h2>@ViewBag.Title</h2>
</div>
<div class="orange-block">
    @if(!Convert.ToBoolean(ViewBag.Public)) {
        <div class="container">
            @Html.ActionLink("Mijn Travelogues", "Index", null, new { @class = "tab active float left" })
            @Html.ActionLink("Alle Travelogues", "Display", new { sortBy = "Best" }, new { @class = "tab float right" })
        </div>
    }
    @if(Convert.ToBoolean(ViewBag.DisplayAll)) {
        <!--TEMP DIV -->
        <div class="container">
            @using(Html.BeginForm("Search", "Travelogue", FormMethod.Post)) {
                @Html.TextBox("searchQuery")
                <input class="button orange float right" type="submit" name="add" value="Zoeken">
            }
        </div>
    }
    <!--TEMP DIV -->
</div>
<div class="container">
    <table cellspacing="0" cellpadding="0" id="travels" class="white-block">
        <tr>
            <th>Titel</th>
            <th>Gepubliceerd</th>
            <th>Beoordeling</th>
            @if(!Convert.ToBoolean(ViewBag.DisplayAll)) {
                <th>Bewerking</th>
                <th>Verwijderen</th>
            }
        </tr>
        @if(Model != null && Model.Count > 0) {
            foreach(var travelogue in Model) {
                <tr>
                    @if(travelogue.Title == null) {
                        travelogue.Title = "Geen Titel";
                    }
                    <td>@Html.ActionLink(@travelogue.Title, "ViewTravelogue", new { travelogueID = travelogue.ID })</td>
                    <td>@travelogue.PublishedTime.Day-@travelogue.PublishedTime.Month-@travelogue.PublishedTime.Year</td>
                    <td>@travelogue.AvarageRating</td>
                    @if(!Convert.ToBoolean(ViewBag.DisplayAll)) {
                        <td>@Html.ActionLink("-", "EditTravelogue", new { travelogueID = travelogue.ID })</td>
                        <td>@Html.ActionLink("X", "DeleteTravelogue", new { travelogueID = travelogue.ID })</td>
                    }
                </tr>
            }
        }
        else {
            <tr>
                <td colspan="3">Er zijn geen reisverslagen beschikbaar.</td>
            </tr>
        }
    </table>
</div>