@model ColombusWebapplicatie.Models.Travel.Travelogue.Travelogue
@{
    ViewBag.Title = "Reisverslagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style>
        @for (int i = 1; i <= 5; i++ )
        {
            <text>
            label:nth-of-type(@(6-i)):before
            {
                content: "@((i > Model.AvarageRating) ? "\\2606" : "\\2605")";
            }
            </text>
        }
    </style>
}

@section Scripts
{
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $('input:radio').change(function () {
                $(this).parents('form:first').submit();
            });
        });
    </script>
}

<div class="container" style="margin-bottom:10em;">
    <h2>@Model.Title</h2>
    @*
        For reuse in Index where i is inside a loop <span>@(((i) > Model.AvarageRating) ? Html.Raw("&#9734;") : Html.Raw("&#9733;"))</span>
    *@

    <div class="float left">
        <p><b>Auteur:</b>&nbsp; @Model.Author <br /></p>
        <p><b>Datum:</b>&nbsp; @Model.PublishedTime.Day-@Model.PublishedTime.Month-@Model.PublishedTime.Year</p>
    </div>

    @using (Html.BeginForm("Rate", "Travelogue", new { travelogueID = Model.ID }, FormMethod.Post, new { id = "rate" }))
    {
        <span style="color:#323232; font-weight:lighter;">Beoordeling: &nbsp;</span>
        for (int i = 0; i < 5; i++)
        {
            @Html.RadioButton("rating", (i + 1), false, new { id = "rating" + (i + 1) })
            <label for="rating@(i + 1)"></label>
        }
    }

    @{var par = Model.Paragraphs;}

    @for (int i = 0; i < @Model.Paragraphs.Count; i++)
    {
        <div class="paragraph">
            @if (i == 0)
            {
                <p>
                    <b>
                        @par[i].Text
                    </b>
                </p>
            }
            else
            {
                @* Paragraph Header *@
                if (!String.IsNullOrWhiteSpace(par[i].Header))
                {
                    <h3>@par[i].Header</h3>
                }


                @* Paragraph text *@
                if (!String.IsNullOrWhiteSpace(par[i].Text))
                {
                    <p>
                        @par[i].Text
                    </p>
                }
            }
        </div>
    }
</div>
<div class="white-block">
</div>