@model ColombusWebapplicatie.Models.Travel.Travelogue.Travelogue
@{
    ViewBag.Title = "Reisverslagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $('input:radio').change(function () {
                $(this).parents('form:first').submit();
            });
        });
    </script>
}

<div class="container">
    <h2>@Model.Title</h2>

    @using(Html.BeginForm("Rate", "Travelogue", new { travelogueID = Model.ID }, FormMethod.Post, new { id = "rate" }))
    {
        int rating = ViewBag.Rating;
        for (int i = 0; i < 5; i++)
        {
            if(rating >= i + 1) { 
                @Html.RadioButton("rating", (i + 1), true, new { id = "rating" + (i + 1) })
            }
            else {
                @Html.RadioButton("rating", (i + 1), false, new { id = "rating" + (i + 1) })
            }
            <label for="rating@(i + 1)"></label>
        }
    }
    @{foreach(var par in Model.Paragraphs) {
        <div class="paragraph">

            @* Paragraph Header*@
            @if(!String.IsNullOrWhiteSpace(par.Header)) {
                <h3>@par.Header</h3>
            }
            @* Fullwidth Image *@
            @if(par.FullWidth == true) {
                <img src="http://d2hv3zvds9z8pu.cloudfront.net/img/112367_320x240_4890.jpg" class="TL_image full" />
            }
            @*Normal image*@
            else {
                if(@par.AlignImageLeft == true) {
                    <img src="http://d2hv3zvds9z8pu.cloudfront.net/img/112367_320x240_4890.jpg" class="TL_image left" />
                }
                else {
                    <img src="http://d2hv3zvds9z8pu.cloudfront.net/img/112367_320x240_4890.jpg" class="TL_image right" />
                }
            }

            @* Paragraph text *@
            @if(!String.IsNullOrWhiteSpace(par.Text)) {
                <p>
                    @par.Text
                </p>
            }
        </div>
    }
    }
</div>