@{
    ViewBag.Title = "Android app";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p>Met de Android applicatie kun je gemakkelijk foto's en notities maken tijdens één van je reizen, om ze vervolgens toe te voegen aan je reisverslag.</p>
        <p>
            <h3>Functies</h3>
            <ul id="features">
                <li>Foto's maken</li>
                <li>Notities maken</li>
            </ul>
        </p>
        <p>
            <h3>Screenshots</h3>
            <img src="@Url.Content("~/Content/Images/Android/screen-1.png")" alt="Alternate Text" width="20%">
            <img src="@Url.Content("~/Content/Images/Android/screen-2.png")" alt="Alternate Text" width="20%">
            <img src="@Url.Content("~/Content/Images/Android/screen-3.png")" alt="Alternate Text" width="20%">
            <img src="@Url.Content("~/Content/Images/Android/screen-4.png")" alt="Alternate Text" width="20%">
            <img src="@Url.Content("~/Content/Images/Android/screen-5.png")" alt="Alternate Text" width="20%" />
        </p>
        <p>
            <h3>Ondersteuning</h3>
            <span>De Android applicatie is geschikt voor smartphones met een Android besturingssysteem van versie 4.1 of hoger.</span>
        </p>
        <p>
            <h3>Download</h3>
            <span>Klik <a href="#">hier</a> om de Android applicatie te downloaden.</span>
        </p>
    </div>
</div>


