@{
    ViewBag.Title = "Android app";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p style="text-align:center">De Android applicatie is ontwikkeld voor het mobiele aspect. Met de Android applicatie kun je overal kijken wat op jouw planning staat, kun je notities voor je reis maken.
           En uiteindelijk kan er al een concept van een reisverslag gemaakt worden. Om deze applicatie te kunnen installeren moet die eerst <a href="https://stendencolumbus.blob.core.windows.net/files/Columbus-Android.apk">gedownload</a> worden en moet het Android telefoon
           minimaal Android 4.1 draaien.</p>
        <br /><br />
        <p>
            <ul id="features">
                <a href="https://stendencolumbus.blob.core.windows.net/files/Columbus-Android.apk" class="button orange" style="clear:both; margin-left:auto; margin-right:auto; width:5%;">Download de App hier!</a>
            </ul>
        </p>
        <br />
        <p>
            <h3>Screenshots</h3>
            <div style="margin-left:auto; margin-right:auto; width:100%;">
                <img src="@Url.Content("~/Content/Images/Android/screen-1.png")" alt="Alternate Text" style="width:19%" >
                <img src="@Url.Content("~/Content/Images/Android/screen-2.png")" alt="Alternate Text" style="width:19%">
                <img src="@Url.Content("~/Content/Images/Android/screen-3.png")" alt="Alternate Text" style="width:19%">
                <img src="@Url.Content("~/Content/Images/Android/screen-4.png")" alt="Alternate Text" style="width:19%">
                <img src="@Url.Content("~/Content/Images/Android/screen-5.png")" alt="Alternate Text" style="width:19%">
            </div>
        </p>
    </div>
</div>
