@model ColombusWebapplicatie.Models.User

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ColombusWebapplicatie.Models.User user = Session["User"] as ColombusWebapplicatie.Models.User;
}
<div class="background-image balloons">
    <div class="container">
        <h1>
            Explore the world
        </h1>
    </div>
    <div class="white-block form">
        <div class="container">
            @if (!Convert.ToBoolean(Session["LoggedIn"]))
            {
                using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.TextBoxFor(u => u.Username, new { @placeholder = "Gebruikersnaam", @class = "form input" })
                    @Html.PasswordFor(u => u.Password, new { @placeholder = "Wachtwoord", @class = "form input" })
                    <input class="button orange" type="submit" name="submit" value="Inloggen">
                }
            }
            else
            {
                if (user != null)
                {
                    <h1>Hallo @user.FullName</h1>
                }
            }
        </div>
    </div>
</div>
<div class="orange-block">
    <div class="container">
        <h2>Home</h2>
    </div>
</div>
<div class="white-block">
    <div class="container">
        <p>
            Columbus is een reisapplicatie waarmee je eenvoudig reisverslagen kunt maken, bijgehouden,
            delen en beoordelen. Op onze website @((!Convert.ToBoolean(Session["LoggedIn"])) ? @Html.ActionLink("maak je een account aan", "Register", "Account") : @Html.Raw("maak je een account aan")) en log je in. Vervolgens maak je een nieuwe reis aan en voeg je de locaties toe die je graag wil bezoeken. Hierna pak je je tas in en ga je op pad!
            <br />
            <br />
            Met de @Html.ActionLink("Android applicatie", "Android", "Home") kun je je reis bijhouden.
            Je kan je reis zien, de locaties nog eens bekijken en notities en foto's toevoegen voor je reisverslag. Eenmaal thuis log je weer in op de website. Je zoekt je reis weer op en maakt een nieuw reisverslag aan. aan de hand van jouw ervaringen, foto's en notities zet je jouw belevingen op papier. Vervolgens kun je er voor kiezen om je reisverslag voor jezelf te houden, of deze te delen met iedereen, zodat anderen hem kunnen lezen en beoordelen.
        </p>
    </div>
</div>